<link href="/views/SSResumeViewer/Theme.css" rel="stylesheet" media="screen" />

<div class="desktop">
    <div class="desktopIcon" ng-repeat="extension in fileSystem.extensions" ng-click="desktopIconClicked($event)">
        <i class="{{extension.icon}} ui icon"></i>
        <br />
        Resume.{{extension.extension}}
    </div>
    <div class="window draggable {{window.windowState}} {{window.application.name}}" id="{{window.windowId}}" ng-class="{'active': window.active}" ng-repeat="window in windows" ng-mousedown="windowClicked(window.windowId)" style="z-index: {{window.zIndex}}; top: {{window.position.top}}px; left: {{window.position.left}}px;">
        <div class="titleBar">
            <i class="ui icon {{window.application.icon}}"></i>
            <span class="title">{{window.fileName}}</span>
            <span class="applicationName">{{window.application.name}}</span>
            <div class="windowControls">
                <div ng-click="closeWindow(window.windowId);">
                    <i class="ui icon close"></i>
                </div>
                <div ng-click="setWindowState(window.windowId, 'maximized');">
                    <i class="fa fa-window-maximize"></i>
                </div>
                <div ng-click="setWindowState(window.windowId, 'minimized');">
                    <i class="fa fa-window-minimize"></i>
                </div>
            </div>
        </div>
        <div class="menuBar">
            <span>File</span>
        </div>
        <div class="content" ng-include="window.application.view">
            
        </div>
    </div>
    <div class="taskBar">
        <div class="taskBarIconWrapper">
            <div>
                <i class="ui icon windows"></i>
            </div>
        </div>
        <div class="taskBarIconWrapper">
            <div>
                <i class="ui icon circle outline"></i>
            </div>
        </div>

        <div class="taskBarIconWrapper application" ng-repeat="window in windows" ng-click="windowClicked(window.windowId)" ng-class="{'active': window.active}">
            <div>
                <i class="ui icon {{window.application.icon}}"></i> {{window.fileName}}
            </div>
        </div>

        <div id="time" class="taskBarIconWrapper pull-right">
            <div>
                <i>{{today | date:"h:mm a"}}</i>
            </div>
        </div>
    </div>
</div>


