#header {
    text-align: center;
    color: black;
    background-color: #7695C1 !important;
    padding-left: 10px;
    margin-top: 14px;
}

    #header div h2::after {
        content: ".json - Fake Visual Studio Code" !important;
    }

    #header h1, #header h2 {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 12pt !important;
        color: black;
        display: inline;
    }

    #header aside {
        width: 100px;
        text-align: left;
        padding: 0;
    }

    #header .profilePicture {
        border-radius: 50%;
        border: 1px solid black;
        height: 16px !important;
    }

#nav .container {
    background-color: #F5F6F7 !important;
    border: 5px solid #7695C1;
    border-bottom: 0;
}

#nav .ui.button {
    border-radius: 0;
    padding: 0 6px 0 6px;
    background-color: transparent;
    height: 20px;
    border: 1px solid transparent;
    margin-bottom: 1px;
}

    #nav .ui.button::first-letter {
        text-decoration: underline;
    }

    #nav .ui.button:hover {
        background-color: #D5E7F8;
        border: 1px solid #7AB1E8;
    }

#content {
    background-color: #7695C1;
    border-left: 5px solid #7695C1;
    border-right: 5px solid #7695C1;
    padding: 0px !important;
}

i.icon {
    display: none;
}

#nav a {
    margin-right: 10px !important;
}


#contentWrapper {
    width: 100% !important;
    height: 500px;
    overflow: auto;
    padding-left: 50px;
    background-color: #333333 !important;
}

    #contentWrapper section {
        display: none;
    }

#resumeJson {
    display: block !important;
    padding-left: 150px !important;
    background-color: #252526 !important;
    width: 100%;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    padding: 14px;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: #1E1E1E !important;
    color: #75CEED;
}

#footer {
    background-color: #68217A;
    color: white;
    border-left: 5px solid #7695C1;
    border-right: 5px solid #7695C1;
    border-bottom: 5px solid #7695C1;
}

.footerWrapper {
    padding: 2px;
}