#header {
    text-align: center;
    color: black;
    background-color: #7695C1 !important;
    padding-left: 10px;
    margin-top: 14px;
}

    #header div h2::after {
        content: ".txt - Fake Notepad" !important;
    }

    #header h1, #header h2 {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 12pt !important;
        color: black;
        display: inline;
    }

    #header aside {
        width: 100px;
        text-align: left;
        padding: 0;
    }

    #header .profilePicture {
        border-radius: 50%;
        border: 1px solid black;
        height: 16px !important;
    }

#nav .container {
    background-color: #F5F6F7 !important;
    border: 5px solid #7695C1;
    border-bottom: 0;
}

#nav .ui.button {
    border-radius: 0;
    padding: 0 6px 0 6px;
    background-color: transparent;
    height: 20px;
    border: 1px solid transparent;
    margin-bottom: 1px;
}

    #nav .ui.button::first-letter {
        text-decoration: underline;
    }

    #nav .ui.button:hover {
        background-color: #D5E7F8;
        border: 1px solid #7AB1E8;
    }

#content {
    background-color: #7695C1;
    padding: 5px !important;
    padding-top: 0 !important;
}

#contentWrapper h1, h2, h3, h4, strong, a, .ui.blue.segment:not(.inverted), .segment {
    color: black !important;
    font-weight: normal !important;
    border: 0 !important;
    box-shadow: none !important;
    font-size: 12pt !important;
    padding: 0 !important;
    margin: 0 !important;
}

i.icon {
    display: none;
}

#nav a {
    margin-right: 10px !important;
}

#resumeJson {
    display: none;
}

#contentWrapper {
    padding: 5px;
    width: 100% !important;
    height: 500px;
    overflow: auto;
    border: 2px solid #569DE5 !important;
    margin-left: auto;
    margin-right: auto;
    background-color: white !important;
}

    #contentWrapper div {
        float: left !important;
        width: 100% !important;
    }

    #contentWrapper aside::before {
        content: "==============================================================" !important;
    }

    #contentWrapper aside::after {
        content: "==============================================================" !important;
    }

    #contentWrapper aside, strong {
        margin-top: 14pt !important;
    }

#contact aside {
    margin-top: 0 !important;
}

#contentWrapper #skills .ui.blue.segment {
    margin-bottom: 14pt !important;
}

#contentWrapper .row {
    margin: 0;
}

#skills .ui.blue.segment::before {
    content: "--------------------------------------------------------------" !important;
}

#contentWrapper strong::after {
    display: inline !important;
    content: ":" !important;
}

#contentWrapper .email, #contentWrapper .website, #contentWrapper .url, #contentWrapper .username, #contentWrapper .fluency {
    float: none !important;
    display: inline !important;
}

a:hover {
    text-decoration: underline;
}

li {
    display: block !important;
}

#footer {
    display: none;
}
