/*print*/
@media print {
    #nav {
        display: none;
    }
}

.print-only {
    display: none;
}

/* default theme */
h1, h2, h3, h4 {
    min-height: inherit;
    margin: 0;
}

h1, h3, h4 {
    color: #3C6293 !important;
}

h1 {
    font-size: 4rem;
}

/* header */
#header {
    background-color: white !important;
    margin-bottom: 14px;
}

    #header h1 {
        color: black !important;
    }

    #header aside {
        text-align: center;
        padding: 10px;
    }

    #header .profilePicture {
        border-radius: 50%;
        height: 100px;
        border: 1px solid black;
    }

/* navigation */
#nav {
    background-color: #3C6293;
    color: white;
}

    #nav .container {
        padding: 5px !important;
        margin-bottom: 14px;
    }


/* content */
#content aside {
    text-align: center;
    padding: 10px;
    background-color: #E6E6E6 !important;
}

#content section {
    margin-bottom: 10px;
}

#skills div {
    text-align: center;
}

#content #profiles .url {
    margin-bottom: 10px;
}

/* profile icons */
#content #profiles .github {
    color: #4078C0 !important;
}

#content #profiles .stack.exchange {
    color: #2F96E8 !important;
}

#content #profiles .developer.story:before {
    content: "\f18d";
}

#content #profiles .developer.story {
    color: #2F96E8 !important;
}

#content #profiles .stack.overflow {
    color: #F48024 !important;
}

#content #profiles .twitter {
    color: #55ACEE !important;
}

#content #profiles .reddit {
    color: #FF4500 !important;
}

#content #profiles .google.plus {
    color: #DB4437 !important;
}

#content #profiles .linkedin {
    color: #0077B5 !important;
}

#content #profiles .nuget {
    content: url(/img/nuget.png);
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
}

#content #profiles .segment {
    padding: 0.5em;
}

#content .segment {
    margin-top: 0;
    margin-bottom: 14px;
}

#work .position, #education .area {
    color: black !important;
}

#work .date, #education .date {
    font-size: small;
    color: gray;
}

#education .courses {
    margin-bottom: 14px;
}

#footer {
    display: none;
}
